<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--创建 一个 DefaultMQProducter
   init  对象创建后
   destroy 对象销毁之后

  -->
<bean id="defaultMQProducter" class="org.apache.rocketmq.client.producer.DefaultMQProducer"
init-method="start" destroy-method="shutdown"
>
<!--    设置组名 -->
    <property name="producerGroup" value="spring-producerGroup">

    </property>
<!--设置NameServer地址-->
 <property name="namesrvAddr" value="127.0.0.1:9876">

 </property>

</bean>
 </beans>